# Makefiles
CMakeCache.txt
Makefile
cmake_install.cmake
CMakeFiles/*

# Executables
src/data_read_test

# Test Files
src/data_read_test.cc
tests/*
source_sims/*
test.txt
2_21_am241.txt
2_21_co60.txt
2_21_cs137.txt
2_21_hour_BG.txt
2_21_natU.txt
2_21_ra226.txt

# Doxy
doxy.config
doxy/*
